[Unit]
Description="ros2 rov app"
After=network.target

[Service]
Type=simple
User=odroid
WorkingDirectory=/home/odroid/trafalgar_ws
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash && source install/local_setup.bash && ros2 launch rov_app device_launch.py"
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=multi-user.target
